body {
    margin: 0;
    background-color: #f7f7f7;
    padding: 20px;
    font-family: "Helvetica", sans-serif;
}

#container {
    background-color: white;
    max-width: 600px;
    margin: 50px auto 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}