body {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

#dice {
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}