body {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

#dice {
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#roll-dice {
    background-color: #47a5c4;
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#roll-dice:hover {
    background-color: #2e8baf;
}